.config {
  overflow-Y: scroll;
  font: 13px Arial, Helvetica, sans-serif;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;

  &__textarea {
    width: 98%;
    min-height: 100px;
  }

  &__submit-wrapper {
    text-align: center;
    margin: 10px 0 10px 0;
  }

  &__header {
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
    text-align: center;
    margin-top: 5px;
  }

  &__submit {
    width: 130px;
  }

  &__example-wrapper {
    text-align: center;
    margin: 10px 0 10px 0;
  }

  &__example-button {
    width: 130px;
  }

  &__textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;

    &:focus {
      border: 1px solid #0C0;
    }
  }

  &__submit {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    min-width: 130px;

    &:hover {
      background: #EA7B00;
      color: #fff;
    }
  }

  &__example-button {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    &:hover {
      background: #EA7B00;
      color: #fff;
    }
  }

  &__error {
    margin: 8px 0 8px 0;
    text-align: center;
    background-color: lightpink;
    padding: 3px;
    border-radius: 5px;
    color: #2D303B;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -webkit-animation-delay: 1s;
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}