.constructor {
  padding: 10px;
  font: 13px Arial, Helvetica, sans-serif;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin-bottom: 20px;

  &__component {
    padding: 10px 0 10px 0;
  }

  &__select {
    display: block;
    width: 100%;
  }

  &__header {
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
    text-align: center;
    margin-top: 5px;
  }

  &__submit-wrapper {
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 5px 0 15px 0;
  }

  &__submit {
    width: 100px;
  }

  &__input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
    width: 100%;

    &:focus {
      border: 1px solid #0C0;
    }
  }

  &__submit {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    min-width: 130px;

    &:hover {
      background: #EA7B00;
      color: #fff;
    }
  }

  &__select {
    height: 25px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    outline: none;

    &:focus {
      border: 1px solid #0C0;
    }
  }

  &__error {
    margin: 8px 0 8px 0;
    text-align: center;
    background-color: lightpink;
    padding: 3px;
    border-radius: 5px;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -webkit-animation-delay: 1s;
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
  }
}