.info {
  font: 13px Arial, Helvetica, sans-serif;

  &__submit {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    min-width: 130px;
    margin: 5px 0 15px 0;

    &:hover {
      background: #EA7B00;
      color: #fff;
    }
  }
}