.info {
  font: 13px Arial, Helvetica, sans-serif;

  &__submit {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    min-width: 130px;
    margin: 5px 0 15px 0;

    &:hover {
      background: #EA7B00;
      color: #fff;
    }
  }

  &__error {
    margin: 8px 0 8px 0;
    text-align: center;
    background-color: lightpink;
    padding: 3px;
    border-radius: 5px;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -webkit-animation-delay: 1s;
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
  }

  &__header {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
  }
}